<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <div class="formContainer">
            <form action="#" @submit = "createTodo">
                <input type="text" placeholder="Author ID" v-model="author_id">
                <input type="text" placeholder="Title" v-model="title">
                <textarea name="" id="" cols="30" rows="3" placeholder="body" v-model="body">
                </textarea>
                <input type="submit" v-if="!isHidden"> 
                <button @click="updateTodo()" v-if="isHidden">Update</button>
            </form>
        </div>
        <br>
        <div class="container">
            <div class="card" v-for="(todo, index) in todos" :key="index" >
                <div class="edit-delete">
                    <a class="btn btn-primary btn-sm mr-2" @click="editTodo(todo)" ><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-danger btn-sm mr-2" @click="deleteTodo(todo)" ><i class="fa fa-trash"></i></a>
                </div> 
                <div class="card-title">
                    <h1>{{todo.title}}</h1>
                </div>
                <div class="card-body">
                    <p>{{todo.body}}</p>
                </div>
                <div class="card-footer">
                    <p>{{todo.created_at}}</p>
                </div>    
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="js/app.js"></script>
</html>